<div class="panel-group">
<div class="panel panel-warning">
  <div class="panel-heading">
    Personal Info
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-warning">
      <tr>
        <td>FirstName: </td>
        <td>{{firstName}}</td>
      </tr>
      <tr>
        <td>LastName: </td>
        <td>{{lastName}}</td>
      </tr>
      <tr>
        <td>Date Of Birth: </td>
        <td>{{dateOfBirth}}</td>
      </tr>
      <tr>
        <td>Gender: </td>
        <td>{{gender}}</td>
      </tr>
    </table>    
  </div>
</div>
</div>