<div class="panel-group">
<div class="panel panel-warning">
  <div class="panel-heading">
    Educational Info
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-info">
      <tr>
        <th>Qualification</th>
        <th>Degree</th>
        <th>Per</th>
      </tr>
      <tr>
        <td>{{sscEducationInfo.qualification}}</td>
        <td>{{sscEducationInfo.degree}}</td>
        <td>{{sscEducationInfo.per}}</td>
      </tr>
      <tr>
        <td>{{hscEducationInfo.qualification}}</td>
        <td>{{hscEducationInfo.degree}}</td>
        <td>{{hscEducationInfo.per}}</td>
      </tr>
      <tr>
        <td>{{graduationEducationInfo.qualification}}</td>
        <td>{{graduationEducationInfo.degree}}</td>
        <td>{{graduationEducationInfo.per}}</td>
      </tr>
      <tr>
        <td>{{postGraduateEducationInfo.qualification}}</td>
        <td>{{postGraduateEducationInfo.degree}}</td>
        <td>{{postGraduateEducationInfo.per}}</td>
      </tr>
    </table>    
  </div>
</div>
</div>