<div class="row" *ngIf="errorStatus === 401">
  <div class="col alert alert-info">
    InValid Username or Password
  </div>
</div>
<div class="row">
  <div class="col">
    <form #f=ngForm (ngSubmit)="login(f)">
          <div class="row form-group">
            <div class="col-md-2"><label>Email: </label></div>
            <div class="col-md-4"><input type=text class="form-control" [(ngModel)]="email" name="email" required></div>
          </div>
          <div class="row form-group">
            <div class="col-md-2"><label>Password: </label></div>
            <div class="col-md-4"><input type=password class="form-control" [(ngModel)]="password" name="password" required></div>
          </div>
          <div class="row">
            <div><button class="btn btn-primary mr-2" type="submit">Login</button></div>              
          </div>
    </form>
  </div>
</div>