<h1 appMyDirective>{{title}}</h1>
<p appMyDirective [color]="'pink'">
  Hello Radhe Krishna...!
</p>
<div appMyDirective [color]="color" [fontSize]="'40px'">
  Hello...!
</div>

<table>
  <tr>
    <th appMyDirective>Name</th>
  </tr>
  <tr *ngFor="let name of friendsList;let i=index">
    <td appMyDirective [color]="colorList[i]" [fontSize]="'10px'">
      {{name}}
    </td>
  </tr>

</table>

<div *appMyLoop="9">
  Good Morning..!
</div>

<div *appMyLoop="'9'">
  K
</div>

<ng-template [appMyLoop]="7" [appMyLoopExtraParam]="'Write'">  
  <p>
    Hi
  </p>
</ng-template>

<div *appMyIf="true">
  Good Afternoon...!
</div>
<ng-template [appMyIf]="true">
  <div>
    Good Afternoon...!
  </div>
</ng-template>